{% extends 'base.html' %}
{% block content %}
{% load static %}

{% include 'includes/navbar.html'%}

<main class="main">

    <!-- Page Title -->
    <div class="page-title dark-background" data-aos="fade" style="background-image: url('{% static "assets/img/testimonials-bg.avif" %}');">
      <div class="container position-relative">
        <h1>Branding</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li class="current">Branding</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

     <!-- Team Section -->
    <section id="team" class="team section light-background">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2 class="df2">Branding</h2>
        <p>Services</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-5">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <div class="pic"><img src="{% static 'assets/img/features-8.jpg' %}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Brand Strategy & Identity.</h4>
                <span>Crafting the essence and personality of your brand.</span>
                <ul>
                  <li><i class="bi bi-check"></i><span>Brand Strategy & Identity</span></li>
                  <li><i class="bi bi-check"></i> <span>Creative & Visual Design</span></li>
                  <li><i class="bi bi-check"></i> <span>Digital Experience & Development</span></li>
                  <li><i class="bi bi-check"></i><span>Content & Communication</span></li>
                  <li><i class="bi bi-check"></i> <span>Technology & Integration Services</span></li>
                  <li><i class="bi bi-check"></i> <span>Innovation Consulting & Digital Transformation</span></li>
                  <li><i class="bi bi-check"></i> <span>Training, Support & Maintenance</span></li>
                </ul>
                <div class="d-flex mx-4 mb-4" data-aos="fade-up" data-aos-delay="300">
                  <a href="{% url 'packages' %}" class="btn-get-started">Get Started</a>
                </div>
              </div>
            </div>
          </div><!-- End Team Member -->


          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <div class="pic"><img src="{% static 'assets/img/picture11.png' %}" class="img-fluid" alt=""></div>
              <div class="member-info2">
                <h4>Creative & Visual Design</h4>
                <span>Visual storytelling that aligns with strategy.</span>
                <ul>
                  <li><i class="bi bi-check"></i><span>UX/UI Design</span></li>
                  <li><i class="bi bi-check"></i> <span>Visual Systems & Design Guidelines</span></li>
                  <li><i class="bi bi-check"></i> <span>Iconography & Motion Design</span></li>
                  <li><i class="bi bi-check"></i><span>Infographics and Branded Content</span></li>
                  <li><i class="bi bi-check"></i> <span>Photography/Video Direction</span></li>
                </ul>
                <div class="d-flex mx-4 mb-4" data-aos="fade-up" data-aos-delay="300">
                  <a href="{% url 'packages' %}" class="btn-get-started">Get Started</a>
                </div>
              </div>
            </div>
          </div><!-- End Team Member -->


          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <div class="pic"><img src="{% static 'assets/img/services-2.jpg' %}" class="img-fluid" alt=""></div>
              <div class="member-info2">
                <h4>Digital Experience & Development</h4>
                <span>Digital platforms that are beautiful, functional, and scalable.</span>
                <ul>
                  <li><i class="bi bi-check"></i> <span>Website Design & Development</span></li>
                  <li><i class="bi bi-check"></i><span>Web & Mobile App Development</span></li>
                  <li><i class="bi bi-check"></i> <span>Custom Software Solutions</span>.</li>
                  <li><i class="bi bi-check"></i> <span>SaaS Platform Development</span>.</li>
                  <li><i class="bi bi-check"></i> <span>CMS & Admin Portal Integration</span>.</li>
                </ul>
                <div class="d-flex mx-4 mb-4" data-aos="fade-up" data-aos-delay="300">
                  <a href="{% url 'packages' %}" class="btn-get-started">Get Started</a>
                </div>
              </div>
            </div>
          </div><!-- End Team Member -->



          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <div class="pic"><img src="{% static 'assets/img/working-1.jpg' %}" class="img-fluid" alt=""></div>
              <div class="member-info2">
                <h4>Content & Communication</h4>
                <span>Telling your brand story across every medium.</span>
                <ul>
                  <li><i class="bi bi-check"></i><span>Website Content Strategy & Copywriting</span></li>
                  <li><i class="bi bi-check"></i> <span>Social Media Branding & Content Templates</span></li>
                  <li><i class="bi bi-check"></i> <span>Blog/Thought Leadership Support</span></li>
                  <li><i class="bi bi-check"></i><span>Pitch Decks & Corporate Presentations</span></li>
                  <li><i class="bi bi-check"></i> <span>Email Marketing Design & Copy</span></li>
                </ul>
                <div class="d-flex mx-4 mb-4" data-aos="fade-up" data-aos-delay="300">
                  <a href="{% url 'packages' %}" class="btn-get-started">Get Started</a>
                </div>
              </div>
            </div>
          </div><!-- End Team Member -->


          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <div class="pic"><img src="{% static 'assets/img/features-6.jpg' %}" class="img-fluid" alt=""></div>
              <div class="member-info2">
                <h4>Technology & Integration Services</h4>
                <span>Building the systems that make everything work together.</span>
                <ul>
                  <li><i class="bi bi-check"></i> <span>API Development & Integration</span></li>
                  <li><i class="bi bi-check"></i><span>Database Architecture</span></li>
                  <li><i class="bi bi-check"></i> <span>Cloud Infrastructure & Hosting</span></li>
                  <li><i class="bi bi-check"></i> <span>DevOps & Deployment</span></li>
                  <li><i class="bi bi-check"></i> <span>Platform Maintenance & Security</span></li>
                </ul>
                <div class="d-flex mx-4 mb-4" data-aos="fade-up" data-aos-delay="300">
                  <a href="{% url 'packages' %}" class="btn-get-started">Get Started</a>
                </div>
              </div>
            </div>
          </div><!-- End Team Member -->


          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <div class="pic"><img src="{% static 'assets/img/features-7.jpg' %}" class="img-fluid" alt=""></div>
              <div class="member-info3">
                <h4>Innovation Consulting & Digital Transformation</h4>
                <span>Helping brands evolve through strategic innovation.</span>
                <ul>
                  <li><i class="bi bi-check"></i><span>Product Strategy & MVP Planning</span></li>
                  <li><i class="bi bi-check"></i> <span>Digital Transformation Roadmapping</span></li>
                  <li><i class="bi bi-check"></i> <span>Business Model Innovation</span></li>
                  <li><i class="bi bi-check"></i><span>Market Research & User Persona Development</span></li>
                  <li><i class="bi bi-check"></i> <span>Tech-Brand Alignment Workshops</span></li>
                </ul>
                <div class="d-flex mx-4 mb-4" data-aos="fade-up" data-aos-delay="300">
                  <a href="{% url 'packages' %}" class="btn-get-started">Get Started</a>
                </div>
              </div>
            </div>
          </div><!-- End Team Member -->



          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <div class="pic"><img src="{% static 'assets/img/services-1.jpg' %}" class="img-fluid" alt=""></div>
              <div class="member-info2">
                <h4>Training, Support & Maintenance</h4>
                <span>Ongoing partnership for growth and evolution.</span>
                
                <ul>
                 <li><i class="bi bi-check"></i> <span>Brand Training Workshops</span></li>
                <li><i class="bi bi-check"></i><span>Post-Launch Support & Maintenance</span></li>
                <li><i class="bi bi-check"></i> <span>Technical Support Plans</span></li>
                <li><i class="bi bi-check"></i> <span>Analytics & Performance Reporting</span></li>
                <li><i class="bi bi-check"></i> <span>Platform Optimization & Feature Iteration</span></li>
              </ul>
                <div class="d-flex mx-4 mb-4" data-aos="fade-up" data-aos-delay="300">
                  <a href="{% url 'packages' %}" class="btn-get-started">Get Started</a>
                </div>
              </div>
            </div>
          </div><!-- End Team Member -->

        </div>

      </div>

    </section><!-- /Team Section -->

    

  </main>

{% include 'includes/footer.html' %}

  {% endblock %}