{% load static %}

  <footer id="footer" class="footer dark-background">

    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-3 col-md-6 footer-about">
          <a href="{% url 'index' %}" class="logo d-flex align-items-center">
            <span class="sitename">LUSO INTEGRATE</span>
          </a>
          <div class="footer-contact">
            <p>Lagos | London</p>
            <!-- <p>London</p> -->
            <p class="mt-3"><strong>Phone:</strong> <a href="tel:+2347030032073">+234 7030032073,</a> <a href="tel:+447385258112">+447385258112</a></p>
            <p><strong>Email:</strong> <a href="mailto:info@lusointegrate.com,lusointegrate@gmail.com">info@lusointegrate.com</a></p>
          </div>
          <div class="social-links d-flex mt-4">
            <a href="https://x.com/Lusointegrate" target="_blank"><i class="bi bi-twitter-x"></i></a>
            <a href="https://www.facebook.com/lusointegrate" target="_blank"><i class="bi bi-facebook"></i></a>
            <a href="https://www.instagram.com/lusointegrate?igsh=NHZja2IxcHhydm95" target="_blank"><i class="bi bi-instagram"></i></a>
            <a href="https://www.linkedin.com/in/luso-integrate-484ba2383" target="_blank"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-3 col-md-3 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="bi bi-circle-fill"></i> <a href="{% url 'index' %}">Home</a></li>
            <li><i class="bi bi-circle-fill"></i> <a href="{% url 'about' %}">About us</a></li>
            <li><i class="bi bi-circle-fill"></i> <a href="{% url 'branding' %}">Branding Services</a></li>
            <li><i class="bi bi-circle-fill"></i> <a href="{% url 'strategy' %}">Strategy Development Services</a></li>
            <li><i class="bi bi-circle-fill"></i> <a href="{% url 'blog' %}">Blog</a></li>
            <li><i class="bi bi-circle-fill"></i> <a href="{% url 'contact' %}">Contact us</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-3 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><i class="bi bi-star-fill"></i> <a href="{% url 'branding' %}">Brand Strategy & Identity</a></li>
            <li><i class="bi bi-star-fill"></i> <a href="{% url 'branding' %}">Creative & Visual Design</a></li>
            <li><i class="bi bi-star-fill"></i> <a href="{% url 'branding' %}">Technology & Integration Services</a></li>
            <li><i class="bi bi-gem"></i> <a href="{% url 'strategy' %}">Business Model Development</a></li>
            <li><i class="bi bi-gem"></i> <a href="{% url 'strategy' %}">Go-to-Market Strategy</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-12 footer-newsletter">
          <h4>Our Newsletter</h4>
          <p>Subscribe to our newsletter and receive the latest news about our products and services!</p>
          <form action="https://formspree.io/f/manbgvyw" method="post" class="php-email-form">
            <div class="newsletter-form"><input type="email" name="email" placeholder="Enter your Email"><input type="submit" value="Subscribe"></div>
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">Your subscription request has been sent. Thank you!</div>
              <script>
                window.addEventListener("pageshow", function(event) {
                  if (event.persisted) {
                    // If coming back from bfcache (back button)
                    document.querySelector(".php-email-form").reset();
                  } else {
                    // On normal load/refresh
                    document.querySelector(".php-email-form").reset();
                  }
                });
              </script>
          </form>
        </div>

      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>© <span>2025</span> <strong class="px-1 sitename">Luso Integrate</strong> <span>All Rights Reserved</span></p>
    </div>

  </footer>